{% extends 'base.html.twig' %}

{% block title %}Keyboard Letter Game{% endblock %}
{% block stylesheets %}
<style type="text/css">     
html, body{       
    height: 100%;    
}     
body {
    background-color: {{random(colors)}}     
}
h4{
    font-size: 300px;
      text-shadow: -5px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
} 
.full-page{       
    height: 100vh;       
    width: 100vw;    
} 
</style>
{% endblock %}
{% block body %}
<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <h4 class="text align-self-center p-2" id="pressed-key">?</h4>
      </div>
    </div>
  </header>
</section>
<audio class="d-none" id="player" src="{{asset('audio/a.mp3')}}" type="audio/mp3"></audio>    
{% endblock %}
{% block javascripts %}

    <script>
    $('body').on('contextmenu', (e) => e.preventDefault());
    </script>
    <script>
        document.onkeydown = function (e) {
            var colors = 
                ['#FF6633', '#FFB399', '#FF33FF', '#FFFF99', '#00B3E6', 
                '#E6B333', '#3366E6', '#999966', '#99FF99', '#B34D4D',
                '#80B300', '#809900', '#E6B3B3', '#6680B3', '#66991A', 
                '#FF99E6', '#CCFF1A', '#FF1A66', '#E6331A', '#33FFCC',
                '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC', 
                '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
                '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680', 
                '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
                '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3', 
                '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

            var color = colors[Math.floor(Math.random() * colors.length)];
            if(e.keyCode==13){
                console.log(e);
            } 
            console.log(e.key);
            $("#pressed-key").html(e.key);
            $("body").css("background-color", color);
            var lettersound = e.key.toLowerCase();

            $.ajax({
                url:'/audio/'+lettersound+'.mp3',
                type:'HEAD',
                error: function()
                {
                    $("#player").attr("src", '/audio/kid-laugh.mp3');
                    $('#player').get(0).play();
                },
                success: function()
                {
                    $("#player").attr("src", '/audio/'+lettersound+'.mp3');
                    $('#player').get(0).play();
                }
            });            
            
            event.preventDefault();
            event.stopPropagation();            
            return false;

        }
    </script>
{% endblock %}
                     